body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background-color: #e1e1e1;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-left p {
  margin: 10px 0 20px;
  font-size: 14px;
  color: #222;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.footer-center h4,
.footer-right h4 {
  margin-bottom: 10px;
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li {
  margin: 8px 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: #000;
}

.visitor-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.visitor-box .info-icon {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.visitor-box .visitor-message {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600px;
}

.button-group {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.login-btn,
.signup-btn {
   background-color: #ff6b35;
  color: #000000;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.login-btn {
  background-color: #ff6B35;
  color: #000000;
}

.signup-btn {
  background-color: #ff6B35;
  color: #000000;
}
.intro-text{
     font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.connect-text{
    font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
